/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-bg: url("../images/cover-image-dark.png");
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --heading-color: #000028;
  --hero-word-color: #db00ff;
  --bg-color: #000028;
  --color-hover-bt: #ff007066;
  --border-color: var(--accent-color, #ff0070);
  --color-button-text: var(--accent-color, #ff0070);
  --title-color: var(--accent-color, #ff0070);
  --color-rec: var(--accent-color, #ff0070);
}
